

@import url('https://fonts.googleapis.com/css?family=Merienda');


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  padding: 20px;
  text-align: center;
  z-index:1;
}
a {
  color: orangered;
}



body{
  background-color: #dcdcdc;
}




  h2{
    padding: 1rem 1rem;
    border-left: 5px solid orangered;
  }

  a:hover {
    text-decoration: none;
  }

  .line {
    background: rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #ffc0cb 0%) repeat scroll 0 0;  
}

  h3{
    background: linear-gradient(transparent 70%, orangered 70%);
  }

  
  

